@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 32px;
  color: #243e63;
}

.row {
  display: flex;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.row__narrow {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

h1 {
  font-weight: 1000;
  padding: 10px;
  font-size: 24px;
}

h3 {
  font-size: 16px;
  letter-spacing: 10%;
}

.container {
  padding: 96px 0;
  /* margin: 0 40px; */
}

.purple {
  color: #6415ff;
}

p {
  line-height: 2;
}

section {
  padding: 0 32px;
}

main {
  margin-bottom: 96px;
}

/* 

NAVBAR ↓

*/

nav {
  display: flex;
  /* padding-top: 32px; */
  /* border: 2px solid; */
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 4px solid red; */
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 0 24px 0 0;
  padding-bottom: 4px;
}

.nav__logo--img {
  width: 40px;
}

.nav__links {
  display: flex;
  gap: 48px;
  align-items: center;
}

.nav__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
}

.nav__link--signup {
  background: blue;
  padding: 12px 32px;
  color: white;
  text-decoration: none;
  border-radius: 24px;
  font-weight: bold;
  font-size: 14px;
}

.nav__link--gapped {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  gap: 24px;
}

.btn__menu {
  display: none;
  background: transparent;
  border: none;
  transition: all 300ms ease;
}

.btn__menu--svg:hover {
  filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg)
    brightness(94%) contrast(115%);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 378px;
  margin: 24px 16px;
  padding: 32px;
  background-color: #fff;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 8px;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transform: translateX(300%);
  transition: all 300ms ease;
}

.modal__links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__link {
  color: #1a202c;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin: 8px 0;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

.modal__link--primary {
  color: #f7fafc;
  padding: 12px 32px;
  background: #6415ff;
  border-radius: 500px;
  border: none;
}

.menu--open .modal {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.btn__menu--close {
  position: fixed;
  top: 24px;
  right: 18px;
}

/* 

HEADER / ABOUT US ↓

*/

/* .container__aboutme {
  margin:0
} */

header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title__black {
  color: #242424;
}

.aboutme__title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 24px;
}

.aboutme__left {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: start;
  margin-right: 24px;
  /* border: 2px dashed; */
}
.aboutme__right {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 12px;
}
.aboutme__trustees--para {
  font-size: 18px;
  margin-bottom: 24px;
  line-height: 1.5;
}
.aboutme__trustees--img {
  width: 100%;
  opacity: 0.5;
}

.aboutme__trustees--title {
  margin-bottom: 24px;
  font-size: 0.75rem;
  color: rgb(160 174 192 / var(--tw-text-opacity));
  opacity: 0.5;
}

.email__form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 480px;
  border: 1px solid #cbd5e0;
  border-radius: 999px;
  padding: 8px;
  margin-bottom: 56px;
}

.email__input {
  flex: 1;
  border: none;
  outline: none;
  padding: 16px 20px;
  font-size: 16px;
  border-radius: 999px;
}

.email__input::placeholder {
  color: rgb(226, 232, 240);
  font-weight: 500;
}

.email__btn,
.quality__btn {
  border: none;
  background-color: #6415ff;
  color: white;
  padding: 16px 28px;
  border-radius: 999px;
  font-weight: bold;
  cursor: pointer;
}

.email__btn:hover {
  background-color: #5011cc;
}
/* 

FEATURES ↓

*/

#features {
  position: relative;
  /* border: 3px solid green; */
}

#features .row__narrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid red; */
}

.features__title {
  font-size: 48px;
  margin: 16px;
}

.features__para {
  max-width: 55%;
  margin: 12px;
  text-align: center;
}

.services {
  display: flex;
  flex-wrap: wrap;
  margin-top: 36px;
}

.service {
  display: flex;
  width: calc(100% / 3);
  justify-content: space-between;
  padding: 16px;
}

.service__logo--circle {
  border: 2px solid rgb(226, 232, 240);
  padding: 16px;
  border-radius: 50%;
}

.service__description {
  margin-left: 12px;
}

.service__description--title {
  font-weight: 800;
  margin-bottom: 12px;
}

.service__description--para {
  line-height: 2;
  font-weight: 500;
}
/* 

QUALITY WORK ↓

*/

#quality .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 3px dashed; */
}

.quality__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 40px;
  /* margin-bottom: 80px; */
}

.quality__right {
  width: 50%;
}

.quality__img {
  width: 100%;
  border: 1px solid rgba(226, 232, 240, 1);
  border-radius: 0.25rem;
}

.quality__title {
  font-size: 48px;
  padding: 0;
  margin-top: 16px;
}

.quality__para {
  line-height: 1.625;
  margin-top: 28px;
  color: rgb(124, 139, 161);
  font-weight: 500;
  font-size: 18px;
}

.quality__btn {
  width: 150px;
  margin-top: 32px;
}

/* 

STEPS ↓

*/

#steps .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  gap: 56px;
}

.steps__right {
  margin-left: 16px;
}

.steps__title {
  font-size: 48px;
  padding: 0;
  margin: 24px 0;
  width: 100%;
  text-wrap: nowrap;
}

.steps {
  display: flex;
  flex-direction: column;
}

.grey {
  font-size: 40px;
  align-items: start;
  font-weight: 600;
  /* padding: 0 40px 40px 40px; */
  color: rgb(203 213 224);
}

.step {
  display: flex;
  margin-top: 32px;
}

.step__words {
  max-width: 320px;
  margin-left: 24px;
}

.steps__para {
  margin-top: 12px;
}

/* 

VALUES ↓

*/

#values .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.values__left {
  width: 50%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 576px;
  /* font-size: 18px; */
}

.values__right {
  width: 50%;
}

.values__title {
  font-size: 48px;
  margin-top: 16px;
  padding: 0;
}

.values__left--affordable {
  display: flex;
  flex-direction: column;
}

.logo__red {
  background-color: rgb(254 178 178);
  border-radius: 50%;
  padding: 8px;
  color: rgb(155 44 44);
}

.logo__green {
  background-color: rgb(154 230 180);
  color: rgb(39 103 73);
  border-radius: 50%;
  padding: 8px;
}

.values__bottom {
  display: flex;
}

.values__left--principle-title {
  display: flex;
  align-items: center;
  gap: 12px;
}

.values__principle-text {
  font-size: 20px;
  letter-spacing: 1%;
}

.values__left--principle {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 36px 36px 0 0;
}

.values__btn {
  margin-top: 48px;
}

.values__para {
  font-size: 18px;
  margin-top: 16px;
  color: #7c8ba1;
  font-weight: 500;
  line-height: 1.625;
  max-width: 576px;
}

.values__principle-para {
  color: #7c8ba1;
  margin-top: 32px;
  line-height: 1.625;
}

.values__right--img {
  width: 100%;
}

/*

PRICING ↓

*/

#pricing .row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.plans {
  display: flex;
}

.plan {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(263, 232, 240, 1);
  height: 620px;
  width: 384px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  margin: 64px 32px 0 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.plan__1 {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan__2 {
  background: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
  color: white;
}

.plan__3 {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plan__info {
  background: white;
  width: 100%;
  height: calc(100% - 7px);
  /* border: 2px solid red; */
  display: flex;
  /* flex: 1; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transform: translateY(8px);
  padding: 32px 0;
  gap: 28px;
  /* margin-bottom: 24px; */
}

.plan__btn {
  padding: 16px 32px;
  margin-top: 0;
  border-radius: 9999px;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 14px;
  width: 192px;
  transition: all 300ms ease;
  cursor: pointer;
}

.plan__btn--1 {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan__btn--2 {
  color: rgb(76, 81, 191);
}

.plan__btn--3 {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plan__btn--1:hover,
.plan__btn--2:hover,
.plan__btn--3:hover {
  transform: translateX(1px) translateY(-1px);
  box-shadow: 0 8px 16px rgba(82, 80, 80, 0.2);
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid rgba(124, 139, 161, 0.3);
}

.plan__price {
  font-size: 48px;
  font-weight: 700;
  color: #1a202c;
  padding: 0;
}
.plan__choice {
  color: #1a202c;
  letter-spacing: 1%;
  font-size: 20px;
}

.plan__freq {
  color: rgb(160 174 192);
  letter-spacing: 10%;
  margin-bottom: 8px;
}

.plan__feat {
  color: #718096;
  font-weight: 500;
}

.plan__info--2 {
  background: none;
  color: white;
}
.plan__info--2-grey {
  color: rgb(226, 232, 240);
}

.hr__plan--2 {
  border: none;
  border-top: 0.5px solid rgba(95, 148, 228, 0.7);
}
/* 

TESTIMONIALS ↓

*/

#testimonials .row {
  display: flex;
}

.testimonials__left {
  width: 40%;
  display: flex;
}

.testimonials__right {
  width: 60%;
  padding-left: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.testimonials__img {
  width: 100%;
}

.testimonials__title {
  font-size: 48px;
  padding: 0;
  margin-top: 16px;
}

.testimonials__para {
  font-size: 18px;
  margin-top: 24px;
  color: #7c8ba1;
  font-weight: 500;
  line-height: 1.625;
  max-width: 576px;
}
.testimonial__para--review {
  line-height: 1.625;
  margin: 16px 0 40px 0;
}
.testimonial__title {
  font-size: 20px;
  margin-top: 16px;
}
.testimonial__person {
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
  width: 50%;
}

.testimonial__person--img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 24px;
}

.fa-star {
  color: rgb(246, 173, 85);
}

.testimonial__name {
  font-size: 20px;
}

.testimonial__bottom--bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testimonial__btns {
  display: flex;
  width: 50%;
}

.solid__line {
  width: 2px;
  height: 20px;
  background-color: #7c8ba1;
}


/* 

START / CALL TO ACTION ↓

*/

#start .row {
  position: relative;
  overflow: hidden;
}

/* 

FOOTER ↓

*/

footer {
  padding: 96px 32px;
  background-color: rgb(100, 21, 255);
  margin-bottom: -32px;
  position: relative;
  overflow: hidden;
}

/* 

MOBILE RESPONSIVENESS ↓

*/

@media (max-width: 1280px) {
  header .row {
    align-items: flex-end;
  }
}

@media (max-width: 1024px) {
  .btn__menu {
    display: block;
  }
  header .row {
    flex-direction: column;
    align-items: center;
  }
  footer {
    padding: 80px 32px;
  }
}

@media (max-width: 768px) {
  #quality .row,
  #values .row {
    flex-direction: column-reverse;
  }
  #steps .row,
  #testimonials .row {
    flex-direction: column;
    align-items: center;
  }
  #pricing .row {
    margin-top: 40px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 80px 0;
  }
  .nav__logo {
    margin: 8px 0;
    padding-bottom: 4px;
  }
  main {
    margin-bottom: 80px;
  }
}
