@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 32px;
  color: #243e63;
}

img {
  /* width: 100%; */
}
.row {
  display: flex;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  align-items: center;
}

.row__narrow {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

h1 {
  font-weight: 900;
  padding: 12px;
  font-size: 24px;
  letter-spacing: 2%;
}

h3 {
  font-size: 16px;
  letter-spacing: 10%;
}

.container {
  padding: 96px 0;
  /* margin: 0 40px; */
}

.purple {
  color: #6415ff;
}

p {
  line-height: 2;
}

section {
  padding: 0 32px;
}

main {
  margin-bottom: 96px;
}

/* 

NAVBAR ↓

*/

nav {
  display: flex;
  /* padding-top: 32px; */
  /* border: 2px solid; */
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  /* border: 4px solid red; */
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 0 24px 0 0;
  padding-bottom: 4px;
}

.nav__logo--img {
  width: 40px;
}

.nav__links {
  display: flex;
  gap: 48px;
  align-items: center;
}

.nav__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  position: relative;
  color: #243e63;
}

.nav__link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 0;
  color: #6415ff;
  opacity: 0;
  background-color: #6415ff;
  transition: opacity 300ms ease;
}

.nav__link:hover {
  color: #6415ff;
}

.nav__link:hover::after {
  opacity: 100%;
  width: 100%;
}

.nav__link--signup {
  background-color: #6415ff;
  padding: 12px 32px;
  color: white;
  text-decoration: none;
  border-radius: 24px;
  font-weight: bold;
  font-size: 14px;
  transition: all 200ms ease;
}

.nav__link--signup:hover {
  background-color: #5011cc;
}

.nav__link--gapped {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  gap: 24px;
}

.btn__menu {
  display: none;
  background: transparent;
  border: none;
  transition: all 300ms ease;
}

.btn__menu--svg:hover {
  filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg)
    brightness(94%) contrast(115%);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 378px;
  margin: 24px 16px;
  padding: 32px;
  background-color: #fff;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 8px;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transform: translateX(300%);
  transition: all 300ms ease;
}

.modal__links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__link {
  color: #1a202c;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin: 8px 0;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

.modal__link--primary {
  color: #f7fafc;
  padding: 12px 32px;
  background: #6415ff;
  border-radius: 500px;
  border: none;
}

.menu--open .modal {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.btn__menu--close {
  position: fixed;
  top: 24px;
  right: 18px;
}

/* 

HEADER / ABOUT US ↓

*/

/* .container__aboutme {
  margin:0
} */

#landing {
  padding:0;
}

header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title__black {
  color: #242424;
}

.aboutme__title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 24px;
  width: 100%;
  padding: 0;
}

.aboutme__left {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: start;
  margin-right: 24px;
  /* border: 2px dashed; */
}
.aboutme__right {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 12px;
}
.aboutme__trustees--para {
  font-size: 18px;
  margin-bottom: 32px;
  line-height: 1.5;
}
.aboutme__trustees--img {
  width: 100%;
  opacity: 0.5;
}

.aboutme__trustees--title {
  margin-bottom: 24px;
  font-size: 0.75rem;
  color: rgb(160 174 192);
  opacity: 1;
}

.email__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* max-width: 480px; */
  border: 1px solid #cbd5e0;
  border-radius: 9999px;
  padding: 8px;
  margin-bottom: 56px;
  transition: all 200ms ease;
  cursor: text;
}

.email__input {
  flex: 1;
  border: none;
  outline: none;
  padding: 16px 20px;
  font-size: 16px;
  border-radius: 999px;
  width: 100%;
}

.email__input::placeholder {
  color: rgb(226, 232, 240);
  font-weight: 500;
}

.email__btn--anchor,
.quality__btn {
  border: none;
  background-color: #6415ff;
  color: white;
  padding: 16px;
  /* margin: 8px 8px 8px 0; */
  text-decoration: none;
  text-align: center;
  border-radius: 999px;
  font-weight: bold;
  font-size: 16px;
  min-width: 160px;
  /* width: 100%; */
  height: 52px;
  cursor: pointer;
  transition: all 200ms ease;
}

.quality__btn:hover .email__btn:hover,
.quality__btn:hover,
.email__btn--anchor:hover {
  background-color: #5011cc;
}
.email__form:hover {
  border-color: #242424a1;
}
/* 

FEATURES ↓

*/

#features {
  position: relative;
  /* border: 3px solid green; */
}

#features .row__narrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid red; */
}

.features__title {
  font-size: 48px;
  margin: 16px;
}

.features__para {
  max-width: 55%;
  /* margin: 12px; */
  text-align: center;
  font-size: 18px;
  color: #7c8ba1;
  line-height: 1.625;
  font-weight: 500;
}

.services {
  display: flex;
  flex-wrap: wrap;
  margin-top: 36px;
}

.service {
  display: flex;
  width: calc(100% / 3);
  justify-content: space-between;
  padding: 16px 0 32px 0;
}

.service__logo--circle {
  border: 1px solid rgb(226, 232, 240);
  padding: 20px;
  border-radius: 50%;
}

.service__description {
  margin: 8px 0 0 16px;
}

.service__description--title {
  font-weight: 700;
  margin-bottom: 16px;
}

.service__description--para {
  line-height: 2;
  font-weight: 500;
  color: #7c8ba1;
}
/* 

QUALITY WORK ↓

*/

#quality .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 3px dashed; */
}
#quality {
  padding: 0;
}
.quality__left {
  width: 50%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* padding: 40px; */
  /* margin-bottom: 80px; */
}

.quality__right {
  width: 50%;
}

.quality__img {
  width: 100%;
  border: 1px solid rgba(226, 232, 240, 1);
  border-radius: 0.25rem;
}

.quality__title {
  font-size: 48px;
  padding: 0;
  margin-top: 16px;
  width: 90%;
}

.quality__para {
  line-height: 1.625;
  margin-top: 16px;
  color: rgb(124, 139, 161);
  font-weight: 500;
  font-size: 18px;
  width: 90%;
}

.quality__btn {
  width: 150px;
  margin-top: 32px;
  padding: 12px 32px;
  font-size: 14px;
}

/* 

STEPS ↓

*/

#steps .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  gap: 56px;
}

.steps__right {
  margin-left: 16px;
  width: 50%;
}

.steps__left {
  width: 50%;
}

.steps__left--img {
  width: 100%;
}

.steps__title {
  font-size: 48px;
  padding: 0;
  margin: 24px 0;
  width: 100%;
  text-wrap: wrap;
}

.steps {
  display: flex;
  flex-direction: column;
}

.grey {
  font-size: 40px;
  align-items: start;
  font-weight: 600;
  /* padding: 0 40px 40px 40px; */
  color: rgb(203 213 224);
}

.step {
  display: flex;
  margin-top: 32px;
}

.step__words {
  max-width: 320px;
  margin-left: 24px;
}

.steps__para {
  margin-top: 12px;
  color: #718096;
  font-weight: 500;
  font-size: 14px;
}

/* 

VALUES ↓

*/

#values .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.values__left {
  width: 50%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 576px;
  /* font-size: 18px; */
}

.values__right {
  width: 50%;
}

.values__title {
  font-size: 48px;
  margin-top: 16px;
  padding: 0;
}

.values__left--affordable {
  display: flex;
  flex-direction: column;
}

.logo__red {
  background-color: rgb(254 178 178);
  border-radius: 50%;
  padding: 8px;
  color: rgb(155 44 44);
}

.logo__green {
  background-color: rgb(154 230 180);
  color: rgb(39 103 73);
  border-radius: 50%;
  padding: 8px;
}

.values__bottom {
  display: flex;
}

.values__left--principle-title {
  display: flex;
  align-items: center;
  gap: 12px;
}

.values__principle-text {
  font-size: 20px;
  letter-spacing: 1%;
}

.values__left--principle {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 36px 36px 0 0;
}

.values__btn {
  margin-top: 48px;
}

.values__para {
  font-size: 18px;
  margin-top: 16px;
  color: #7c8ba1;
  font-weight: 500;
  line-height: 1.625;
  max-width: 576px;
}

.values__principle-para {
  color: #7c8ba1;
  margin-top: 32px;
  line-height: 1.625;
}

.values__right--img {
  width: 100%;
}

/*

PRICING ↓

*/

#pricing .row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.plans {
  display: flex;
  width: 100%;
}

.plan {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(263, 232, 240, 1);
  height: 620px;
  width: 384px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  margin: 64px 32px 0 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.plan__1 {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan__2 {
  background: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
  color: white;
}

.plan__3 {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plan__info {
  background: white;
  width: 100%;
  height: calc(100% - 7px);
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transform: translateY(8px);
  padding: 32px 0;
  gap: 28px;
}

.plan__btn {
  padding: 16px 32px;
  margin-top: 0;
  border-radius: 9999px;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 14px;
  width: 192px;
  /* max-width: 200px; */
  transition: all 300ms ease;
  cursor: pointer;
}

.plan__btn--1 {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan__btn--2 {
  color: rgb(100, 21, 255);
  background-color: rgb(247, 250, 252);
}

.plan__btn--3 {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plan__btn--1:hover,
.plan__btn--2:hover,
.plan__btn--3:hover {
  transform: translateX(1px) translateY(-1px);
  box-shadow: 0 8px 16px rgba(82, 80, 80, 0.2);
  background-color: rgb(230, 231, 232);
}
.plan__btn--2:hover {
  color: #5011cc;
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid rgba(124, 139, 161, 0.3);
}

.plan__price {
  font-size: 48px;
  font-weight: 700;
  color: #1a202c;
  padding: 0;
}
.plan__choice {
  color: #1a202c;
  letter-spacing: 1%;
  font-size: 20px;
}

.plan__freq {
  color: rgb(160 174 192);
  letter-spacing: 10%;
  margin-bottom: 8px;
}

.plan__feat {
  color: #718096;
  font-weight: 500;
}

.plan__info--2 {
  background: none;
  color: white;
}
.plan__info--2-grey {
  color: rgb(226, 232, 240);
}

.hr__plan--2 {
  border: none;
  border-top: 0.5px solid rgba(95, 148, 228, 0.7);
}
/* 

TESTIMONIALS ↓

*/

#testimonials .row {
  display: flex;
}

.testimonials__left {
  width: 50%;
  display: flex;
}

.testimonials__right {
  width: 50%;
  padding-left: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.testimonials__img {
  width: 100%;
}

.testimonials__title {
  font-size: 48px;
  padding: 0;
  margin-top: 16px;
  width: 600px;
}

.testimonials__para {
  font-size: 18px;
  margin-top: 24px;
  color: #7c8ba1;
  font-weight: 500;
  line-height: 1.625;
  max-width: 576px;
  width: 100%;
}
.testimonial__para--review {
  line-height: 1.625;
  margin: 16px 0 40px 0;
}
.testimonial__title {
  font-size: 20px;
  margin-top: 16px;
}
.testimonial__person {
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
  width: 50%;
}

.testimonial__person--img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 24px;
}

.fa-star {
  color: rgb(246, 173, 85);
}

.testimonial__name {
  font-size: 20px;
  white-space: nowrap;
}

.testimonial__company {
  white-space: nowrap;
}

.testimonial__bottom--bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.testimonial__btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.solid__line {
  width: 1px;
  height: 24px;
  background-color: #7c8ba1;
  margin: 0 12px;
  opacity: .2;
}

.fa-arrow-left,
.fa-arrow-right {
  background-color: rgb(237, 242, 247);
  padding: 14px;
  border-radius: 50%;
  border: 2px solid rgb(226, 232, 240);
}

/* 

START / CALL TO ACTION ↓

*/

#start .row {
  position: relative;
  overflow: hidden;
  background-color: rgb(100 21 255);
}
#start {
  background-color: rgb(100 21 255);
  border-radius: 10px;
}

.start__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.start__title {
  color: #f7fafc;
  font-size: 30px;
  font-weight: bold;
  max-width: 480px;
}

.start__btns {
  display: flex;
  gap: 28px;
}

.start__btn--get {
  font-size: 16px;
  text-decoration: none;
  color: rgb(247, 250, 252);
  background-color: rgb(245, 101, 101);
  padding: 1.25rem 2.5rem;
  border-radius: 9999px;
  border: 1px solid transparent;
  font-weight: 700;
  transition: all 200ms ease;
}

.start__btn--contact {
  font-size: 16px;
  text-decoration: none;
  color: rgb(247, 250, 252);
  padding: 1.25rem 2.5rem;
  border-radius: 9999px;
  border: 1px solid rgb(160, 174, 192);
  font-weight: 700;
  transition: all 300ms ease;
}

.start__btn--get:hover {
  background-color: rgb(255, 0, 0);
}

.start__btn--contact:hover {
  background-color: white;
  color: rgb(100 21 255);
}
/* 

FOOTER ↓

*/

footer {
  padding: 80px 32px;
  background-color: rgb(100, 21, 255);
  position: relative;
  overflow: hidden;
  margin: -32px;
}

.footer__row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 360px;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.link {
  display: flex;
  flex-direction: column;
  /* width: calc(100% / 5); */
  align-items: flex-start;
  color: #f7fafc;
  gap: 16px;
  margin-top: 24px;
}

.link__header {
  font-size: 16px;
  margin-bottom: 10px;
}

.link__a {
  text-decoration: none;
  display: inline-block;
  color: #f7fafc;
  position: relative;
  white-space: nowrap;
  font-weight: 500;
  font-size: 14px;
  text-align: left;
}
.link__a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 1px;
  width: 100%;
  opacity: 0;
  background-color: currentColor;
  transition: opacity 300ms ease;
}

.link__a:hover::after {
  opacity: 1;
}

.link__a:hover {
  color: currentColor;
}

.footer__copy {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.copy__line {
  width: 100%;
  background-color: rgb(116, 44, 255);
  height: 2px;
}

.copy__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 180px; */
}

.copy__h2 {
  font-weight: 900;
  margin-left: 12px;
  color: #f7fafc;
  font-size: 20px;
  letter-spacing: 0.05em;
}

.copy__para {
  color: #cbd5e0;
}

.footer__copy {
  display: flex;
  align-items: center;
}

.copy__logo--img {
  width: 32px;
}

.copy__socials {
  display: flex;
  gap: 16px;
}

.copy__socials--link {
  background-color: #f7fafc;
  border: 2px solid #f7fafc;
  padding: 6px;
  border-radius: 50%;
  color: black;
}

.copy__socials--link:hover {
  background-color: rgb(226, 232, 240);
  border: 2px solid rgb(226, 232, 240);
}

/* 

MOBILE RESPONSIVENESS ↓

*/

@media (max-width: 1280px) {
  header .row {
    align-items: flex-end;
  }

  .aboutme__title {
    font-size: 36px;
  }
}

@media (max-width: 1024px) {
  .btn__menu {
    display: block;
  }
  header .row {
    flex-direction: column;
    align-items: center;
  }
  footer {
    padding: 80px 32px;
  }
  .start__content {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 768px) {
  #quality .row,
  #values .row {
    flex-direction: column-reverse;
  }
  #steps .row,
  #testimonials .row {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  #pricing .row {
    margin-top: 40px;
  }
  .container {
    padding: 80px 0;
    text-align: center;
  }

  .testimonials__title {
    font-size: 36px;
  }
  .testimonials__right {
    width: 100%;
    align-items: center;
    padding: 0;
  }
  .testimonials__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .testimonials__top {
    text-align: center;
    align-items: center;
    margin-top: 48px;
  }
  .testimonial__para--review {
    width: 448px;
  }
  .testimonials__para {
    font-size: 14px;
    width: 448px;
  }
  .testimonial__name {
    white-space: nowrap;
  }
  .testimonial__company {
    white-space: nowrap;
  }

  #steps {
    display: flex;
    align-items: center;
  }

  .step {
    flex-direction: column;
  }
  .steps {
    justify-content: center;
    align-items: center;
  }
  .steps__para {
    width: 320px;
  }
  .steps__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    width: 100%;
  }
  .steps__left {
    width: 100%;
  }
  .steps__title {
    font-size: 36px;
    /* text-wrap: nowrap; */
    width: 448px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .step__words {
    margin-top: 6px;
    margin-left: 0;
  }

  .plans {
    flex-direction: column;
    align-items: center;
  }
  .values__para {
    font-size: 14px;
  }
  .plan__btn {
    width: 256px;
  }

  .start__title {
    width: 512px;
  }

  .links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .link {
    margin-top: 30px;
  }

  .footer__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 100%;
    justify-content: space-between;
    gap: 40px;
  }
  .footer__copy {
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 28px;
  }

  .start__content {
    gap: 16px;
  }

  .service {
    max-width: 352px;
    justify-content: center;
    text-align: left;
  }
  .services {
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }

  .features__para {
    font-size: 14px;
    max-width: 100%;
  }
  .features__title {
    font-size: 36px;
  }

  .service__description--para {
    width: 224px;
  }

  .row__narrow {
    justify-content: center;
  }

  .quality__left {
    width: 100%;
    margin-top: 48px;
    align-items: center;
  }
  .quality__right {
    width: 80%;
  }

  .values__bottom {
    flex-direction: column;
  }
  .values__left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .values__right {
    width: 100%;
  }
  .values__title {
    font-size: 36px;
  }
  .values__left--principle {
    width: 100%;
    align-items: center;
  }
  .values__principle-para {
    width: 320px;
  }
  .values__para {
    width: 448px;
  }

  .aboutme__left {
    width: 100%;
    align-items: center;
  }
  .aboutme__right {
    width: 512px;
    margin-top: 48px;
  }
  .aboutme__title {
    font-size: 30px;
  }
  .aboutme__trustees--para {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .aboutme__trustees--title {
    font-size: 14px;
  }
  .email__form {
    width: 448px;
  }
  .aboutme__trustees--img {
    width: 512px;
  }

  .nav__links {
    display: none;
  }

  #landing {
    padding: 0;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 80px 0;
    width: 100%;
  }
  body {
    width: 100%;
  }

  .nav__logo {
    margin: 8px 0;
    padding-bottom: 4px;
  }
  main {
    margin-bottom: 80px;
  }

  .quality__title {
    font-size: 30px;
  }
  .quality__para {
    font-size: 14px;
  }

  .values__title {
    font-size: 30px;
  }
  .values__para {
    width: 256px;
  }
  .values__principle-para {
    width: 256px;
    margin-top: 16px;
  }

  .plan__info,
  .plan,
  .plan__btn {
    width: 100%;
  }
  .plan__price {
    font-size: 36px;
  }

  .testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .testimonials__right {
    width: 100%;
  }
  .testimonials__title,
  .testimonials__para,
  .testimonial__para--review {
    width: 200px;
  }
  .testimonial__bottom--bar,
  .testimonial__person,
  .start__btns {
    flex-direction: column;
    align-items: center;
  }
  .testimonial__person--img {
    margin: 0;
  }
  .testimonial__btns {
    justify-content: center;
  }
  .testimonial__name {
    margin-top: 12px;
  }

  .start__title {
    width: 100%;
  }
  .start__btn--get,
  .start__btn--contact {
    padding: 1rem 2rem;
  }

  .links {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
  }
  .link {
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .links:last-child {
    margin-left: 25%;
  }
  footer {
    justify-content: center;
  }

  .copy__para {
    font-size: 14px;
  }

  .plan__btn {
    max-width: 65%;
  }

  .steps__title {
    font-size: 30px;
  }

  .services,
  .service {
    flex-direction: column;
    align-items: center;
  }
  .service__description {
    text-align: center;
  }

  .email__form {
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 20px;
    border: 0px;
  }
  .email__input {
    text-align: center;
    padding: 16px;
    border: 2px solid lightgrey;
  }
  .aboutme__left {
    align-items: center;
    margin:0;
  }
  .aboutme__trustees--img,
  .aboutme__right {
    width: 100%;
  }

  .email__btn--anchor {
    width: 100%;
    margin: 10px;
  }

#values {
  padding:0;
}

#pricing {
  padding:0;
}
.plan {
  margin:24px 0;
}

#testimonials {
  padding: 0;
}
}
